body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #f0f0f0;
    padding: 3px 50px ;
    justify-content: center;
  }
  
  img {
    width: 100%;
    max-width: 500px;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2em;
    margin-bottom: 20px;
    white-space: normal;
  }
  
  nav {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  a {
    text-decoration: none;
    color: rgba(20, 148, 199, 0.795);
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  footer {
    margin-top: 20px;
  }
  
  @media (max-width: 768px) {
    header {
      padding: 10px;
    }
   
    img {
      max-width: 100%;
    }
    #features {
        flex-direction: column;
      }
    
      article {
        width: 100%;
      }
  }
 #introduction-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: #9c5725;
  }
  main section p{
    margin-bottom: 30px;
    text-align: center;
  }
  #features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 728px;
  }

  @media (min-width: 769px){
    article {
        width: 33.33%;
        margin-bottom: 20px;
    }
    #introduction-sec p{
      font-family: madefor-display-bold, helveticaneuew01-65medi, helveticaneuew02-65medi, helveticaneuew10-65medi, sans-serif;
      font-size: 2.5rem;
    }
}

article{
    text-align: center;
}
#about{
  text-align: center;

}
#p{
  color: blue;
}
#e{
  color: yellow;
}
#navigation{
  display: flex;
  justify-content: space-evenly;
}
header nav div a{
  margin: 0 5px;
}
#about p a{
  color: blue;
}

ul{
  display:flex;
  justify-content: space-between;
}